In [5]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn.metrics import mean_squared_error
import graphviz
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

In [6]:
import json
import pandas as pd

with open("../data/external/Linde H25.json", "r") as f:
    data = json.load(f)

# Assuming data is a list of dictionaries
for item in data:
    item["value"] = item.get("value", 0)

df = pd.DataFrame(data)

AttributeError: 'str' object has no attribute 'get'

In [9]:
import gdown
url= 'https://drive.google.com/file/d/1FCWnn1mwB-4pFywbJZJyNWqSmSLYXGMx/view?usp=drive_link'
output= 'Linde H25.json'
gdown.download(url, output, fuzzy=True)

Downloading...
From: https://drive.google.com/uc?id=1FCWnn1mwB-4pFywbJZJyNWqSmSLYXGMx
To: C:\Users\Flor\Documents\GIT\Consumo_Combustible\notebooks\Linde H25.json
100%|██████████| 20.0M/20.0M [00:00<00:00, 34.7MB/s]

'Linde H25.json'

In [10]:
import pandas as pd
import json

# Load the JSON file
with open('Linde H25.json', 'r') as f:
    data = json.load(f)

# Normalize the 'gral' section of the data (adjust 'gral' if it's a different key)
df_gral = pd.json_normalize(data['gral'])

# If there are other sections in your JSON you want as DataFrames, normalize them similarly.
# For example, if you have a section called 'details':
# df_details = pd.json_normalize(data['details'])

# Now you have DataFrames with consistent column lengths
print(df_gral.head())
print(df_gral.info())

   object                      from                        to mins  velmax  \
0    4087  2024-06-08T03:00:00.000Z  2024-06-16T01:30:52.461Z    0       0

  type dvcType    _v objType                              hash  kmRec  \
0  can     BCE  next      38  62007387fb7bc8a33c10ef25274d6b31      0

   engOnSec  motionTime  canEngOnSec
0    311454       57308       403200
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   object       1 non-null      int64
 1   from         1 non-null      object
 2   to           1 non-null      object
 3   mins         1 non-null      object
 4   velmax       1 non-null      int64
 5   type         1 non-null      object
 6   dvcType      1 non-null      object
 7   _v           1 non-null      object
 8   objType      1 non-null      object
 9   hash         1 non-null      object
 10  kmRec        1 non-null      int64
 11  engOnSec     1 non-null      int64
 12  motionTime   1 non-null      int64
 13  canEngOnSec  1 non-null      int64
dtypes: int64(6), object(8)
memory usage: 244.0+ bytes
None

In [11]:
# Normalize the 'trips' section of the data
df_trips = pd.json_normalize(data['trips'])
df_trips.head()
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1528 entries, 0 to 1527
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            1528 non-null   object
 1   start           1528 non-null   int64
 2   end             1528 non-null   int64
 3   events          1115 non-null   object
 4   from.lat        761 non-null    float64
 5   from.lng        761 non-null    float64
 6   to.lat          767 non-null    float64
 7   to.lng          767 non-null    float64
 8   lat             601 non-null    float64
 9   lng             601 non-null    float64
 10  idleTime        601 non-null    float64
 11  fuelEnd         538 non-null    object
 12  status          601 non-null    object
 13  dir             601 non-null    object
 14  kmRec           413 non-null    float64
 15  engOnSec        413 non-null    float64
 16  motionTime      413 non-null    float64
 17  canEngOnSec     413 non-null    float64
 18  rows            413 non-null    object
 19  maxSpeed.speed  413 non-null    float64
 20  maxSpeed.date   413 non-null    float64
 21  fuelIni         505 non-null    object
dtypes: float64(13), int64(2), object(7)
memory usage: 262.8+ KB

In [12]:
df_trips.isnull().sum()

type                 0
start                0
end                  0
events             413
from.lat           767
from.lng           767
to.lat             761
to.lng             761
lat                927
lng                927
idleTime           927
fuelEnd            990
status             927
dir                927
kmRec             1115
engOnSec          1115
motionTime        1115
canEngOnSec       1115
rows              1115
maxSpeed.speed    1115
maxSpeed.date     1115
fuelIni           1023
dtype: int64

In [13]:
import polars as pl
df = pl.read_json('Linde H25.json')
df.head()

ModuleNotFoundError: No module named 'polars'

In [14]:
import pandas as pd

# Assuming 'data' is the dictionary you want to convert
# If 'data' is nested, you may need to extract the relevant part for DataFrame creation
relevant_data = data['gral']  # Example: Extract data from the 'gral' key

# Convert the relevant part of the dictionary to a DataFrame
df_pd = pd.DataFrame(relevant_data, index=[0])  # Create a single-row DataFrame

# Convert the DataFrame to a CSV file
df_pd.to_csv('data.csv', index=False)  # Set index=False to exclude index column
df_pd.head()

,object,from,to,mins,velmax,type,dvcType,_v,objType,hash,kmRec,engOnSec,motionTime,canEngOnSec
0,4087,2024-06-08T03:00:00.000Z,2024-06-16T01:30:52.461Z,0,0,can,BCE,next,38,62007387fb7bc8a33c10ef25274d6b31,0,311454,57308,403200

In [15]:
import pandas as pd

# Assuming 'data' is the dictionary you want to convert
# If 'data' is nested, you may need to extract the relevant part for DataFrame creation
relevant_datad = data['details']  # Example: Extract data from the 'gral' key

# Convert the relevant part of the dictionary to a DataFrame
df_pd = pd.DataFrame(relevant_datad)  # Create a single-row DataFrame

# Convert the DataFrame to a CSV file
df_pd.to_csv('data.csv', index=False)  # Set index=False to exclude index column
df_pd.head()

,date,bat,km,engOn,evDesc,dir,lat,lng,speed,heading,wheel_speed,can_fls,can_taho,can_engine_hrs,eng_temp
0,1717815696,12.780,0,False,,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717815818,12.718,0,False,,"Valentin Torra 5001-5400 A 46 Mts, Parana, Ent...",-31.7701,-60.4517,0.0,214.0,NaN,NaN,NaN,NaN,NaN
2,1717815938,12.718,0,False,,"Valentin Torra 5001-5400 A 46 Mts, Parana, Ent...",-31.7701,-60.4517,0.0,214.0,NaN,NaN,NaN,NaN,NaN
3,1717816056,12.709,0,False,,"Valentin Torra 5001-5400 A 46 Mts, Parana, Ent...",-31.7701,-60.4517,0.0,214.0,NaN,NaN,NaN,NaN,NaN
4,1717816072,12.514,0,False,Contacto,"Valentin Torra 5001-5400 A 46 Mts, Parana, Ent...",-31.7701,-60.4517,0.0,214.0,NaN,NaN,NaN,NaN,NaN

In [16]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25244 entries, 0 to 25243
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            25244 non-null  int64
 1   bat             25244 non-null  float64
 2   km              25244 non-null  int64
 3   engOn           25244 non-null  bool
 4   evDesc          25244 non-null  object
 5   dir             25244 non-null  object
 6   lat             22890 non-null  float64
 7   lng             22890 non-null  float64
 8   speed           22890 non-null  float64
 9   heading         22890 non-null  float64
 10  wheel_speed     22396 non-null  float64
 11  can_fls         22396 non-null  float64
 12  can_taho        22396 non-null  float64
 13  can_engine_hrs  22396 non-null  float64
 14  eng_temp        22396 non-null  float64
dtypes: bool(1), float64(10), int64(2), object(2)
memory usage: 2.7+ MB

In [17]:
df_pd.describe()

,date,bat,km,lat,lng,speed,heading,wheel_speed,can_fls,can_taho,can_engine_hrs,eng_temp
count,2.524400e+04,25244.000000,25244.0,22890.000000,22890.000000,22890.000000,22890.000000,22396.000000,22396.000000,22396.000000,22396.000000,22396.0
mean,1.718181e+09,13.292831,0.0,-31.769626,-60.450972,2.077195,149.933071,3.569566,76.123683,1529.173781,39972.835462,0.0
std,1.717023e+05,0.453605,0.0,0.000296,0.000392,3.165596,112.613464,3.917767,17.768831,291.716335,30.699371,0.0
min,1.717816e+09,8.163000,0.0,-31.771200,-60.452300,0.000000,0.000000,0.000000,0.000000,45.000000,39915.000000,0.0
25%,1.718056e+09,13.073000,0.0,-31.769800,-60.451000,0.000000,38.000000,0.000000,67.000000,1313.750000,39947.000000,0.0
50%,1.718193e+09,13.321000,0.0,-31.769600,-60.451000,0.000000,146.000000,1.000000,78.000000,1597.000000,39974.000000,0.0
75%,1.718302e+09,13.542000,0.0,-31.769400,-60.450800,4.000000,236.000000,8.000000,89.000000,1790.000000,39997.000000,0.0
max,1.718501e+09,14.579000,0.0,-31.768700,-60.448200,50.000000,358.000000,9.000000,100.000000,2523.000000,40027.000000,0.0

In [18]:
df_pd.isnull().sum()
df_pd.isna().sum()

date                 0
bat                  0
km                   0
engOn                0
evDesc               0
dir                  0
lat               2354
lng               2354
speed             2354
heading           2354
wheel_speed       2848
can_fls           2848
can_taho          2848
can_engine_hrs    2848
eng_temp          2848
dtype: int64

In [19]:
df_limpio= df_pd.dropna()
df_limpio.describe()
df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20606 entries, 5 to 24977
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            20606 non-null  int64
 1   bat             20606 non-null  float64
 2   km              20606 non-null  int64
 3   engOn           20606 non-null  bool
 4   evDesc          20606 non-null  object
 5   dir             20606 non-null  object
 6   lat             20606 non-null  float64
 7   lng             20606 non-null  float64
 8   speed           20606 non-null  float64
 9   heading         20606 non-null  float64
 10  wheel_speed     20606 non-null  float64
 11  can_fls         20606 non-null  float64
 12  can_taho        20606 non-null  float64
 13  can_engine_hrs  20606 non-null  float64
 14  eng_temp        20606 non-null  float64
dtypes: bool(1), float64(10), int64(2), object(2)
memory usage: 2.4+ MB

In [20]:
variables_estudio = df_limpio [['speed', 'wheel_speed', 'can_fls', 'can_taho', 'engOn']]
variables_estudio.corr()

                speed  wheel_speed   can_fls  can_taho     engOn
speed        1.000000     0.443817  0.040961  0.378330  0.182932
wheel_speed  0.443817     1.000000  0.031258  0.690242  0.229986
can_fls      0.040961     0.031258  1.000000  0.048471  0.034294
can_taho     0.378330     0.690242  0.048471  1.000000  0.405996
engOn        0.182932     0.229986  0.034294  0.405996  1.000000

In [21]:
df_trips.describe()
estudio=df_trips[['kmRec','motionTime', 'maxSpeed.speed','fuelIni']]
estudio.corr()
#df_trips.corr()

                kmRec  motionTime  maxSpeed.speed  fuelIni
kmRec             NaN         NaN             NaN      NaN
motionTime        NaN    1.000000        0.283932      NaN
maxSpeed.speed    NaN    0.283932        1.000000      NaN
fuelIni           NaN         NaN             NaN      1.0

In [22]:
features = ['can_taho']
target = 'can_fls'

X = variables_estudio[features]
Y = variables_estudio[target]

X_entrenamiento, X_test, y_entrenamiento, y_test=train_test_split(X, Y)
arbol = DecisionTreeRegressor(max_depth=10)
arbol.fit(X_entrenamiento, y_entrenamiento)


arbol.score(X_entrenamiento, y_entrenamiento)
arbol.score(X_test, y_test)
# Evaluar el modelo (por ejemplo, usando el error cuadrático medio)
from sklearn.metrics import mean_squared_error
y_pred = arbol.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Error cuadrático medio:", mse)


print(f"Puntaje de precisión del modelo: {arbol.score(X_test, y_test)}")
print(f"Puntaje de precisión del modelo(entrenamiento): {arbol.score(X_entrenamiento, y_entrenamiento)}")

Error cuadrático medio: 305.86371331905514
Puntaje de precisión del modelo: 0.03148183716099229
Puntaje de precisión del modelo(entrenamiento): 0.08821997673675486

In [23]:
from sklearn.tree import export_graphviz
from sklearn import tree
import graphviz
dot_data = tree.export_graphviz(arbol, out_file=None,
                                feature_names=features,
                                class_names=['engOn_False', 'engOn_True'],
                                filled=True, rounded=True,
                                special_characters=True)

# Crear el gráfico
graph = graphviz.Source(dot_data)
graph.render("arbol_decision")  # Guardar el gráfico como un archivo PDF
graph

ExecutableNotFound: failed to execute WindowsPath('dot'), make sure the Graphviz executables are on your systems' PATH

# Conclusiones generales
Basándonos en estos resultados, podemos inferir lo siguiente:
Este modelo no es el mejor, ya que el Puntaje de precisión del modelo es muy bajo.
Puntaje de precisión del modelo(entrenamiento) muy bajo. con la profundidad (depth=10). El modificarlo solo hace que estos numeros sean aun mas bajos